body {
      font: 1.2em Helvetica, Arial, sans-serif;
      margin: 20px;
      padding: 0;
    }

    section {
     width: 200px;
      border: 1px solid #4D4E53;
      border-radius: 2px;
      pading: 10px;
      margin-bottom: 10px;
    }


    .box {
      width: 200px;
      border: 2px dotted rgb(96, 139, 168);
    }

    .box>* {
      padding: 20px;
      border: 2px solid rgb(96, 139, 168);
      border-radius: 5px;
      background-color: rgba(96, 139, 168, .2);
    }
 
    .box {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
    .selected1{
      align-self: stretch;
    }
    .selected{
      align-self: center;
    }
    