body{
  font-family: 'Roboto', sans-serif;
}

.filters{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

.categories{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}


#subregion{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#subregion *{
  width: 25%;
  text-align: center;
}

#subregion #population{
  margin-left: 25%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 

.country{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  font-size: 20px;
}
.country *{
  width: 30%;
  text-align: center;
}