<main>
    <div class="image">
        <img src="{{trip.imageUrl}}" alt="Image not Found">
    </div>
    <div class="description">
        {{trip.destination | uppercase}}
        {{trip.country}}
        <div class="dates"> 
            {{trip.startDate}} - {{trip.endDate}}
        </div>
        <div class="price">
            {{trip.price | currency:'USD' }}
        </div>
        {{trip.description}}
    </div>
    <div class="comments-container">
        <form class="comment-form" action="comment-form" #commentForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="usernamecheckbox">
                <input type="text"
                name="username"
                [(ngModel)]="username"
                required
                minlength="3"
                maxlength="30"
                placeholder="Username"
                id="username">
                <div class="checkbox-container"> 
                    <label for="inludeDate"> Include Date?</label>
                    <input type="checkbox"
                    name="includeDate"
                    [(ngModel)]="includeDate"
                    id="includeDate">
                </div>
               
            </div>
            

            <textarea type="text"
                name="content"
                [(ngModel)]="content"
                required
                minlength="50"
                maxlength="500"
                placeholder="Comment"
                id="content">
            </textarea>
            <input type="Submit"
                [disabled]="commentForm.invalid"
                value="Add Comment"
                id="submit">
        </form>
        <div class="comment" *ngFor="let comment of trip.comments">
            <div class="comment-header">
                <div class="username-container"> {{comment.username}} wrote:</div>
                <div class="date-container">{{comment.date}}</div>
            </div>
            <div class="comment-content">
                {{comment.content}}
            </div>
        </div>
    </div>
</main>
