<form action="add-form" #addForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <input type="text" 
        name="destination" 
        [(ngModel)]="destination"
        required
        minlength="3"
        pattern="^[A-Za-Z]+$"
        placeholder="Destination">
    </div>
    <div class="form-control">
        <input type="text" 
        name="country" 
        [(ngModel)]="country" 
        required
        minlength="3"
        pattern="^[A-Za-Z]+$"
        placeholder="Country">
    </div>
    <div class="form-control double">
        <input type="date" 
        name="startDate" 
        [(ngModel)]="startDate" 
        required
        placeholder="Starting Date">

        <input type="date" 
        name="endDate" 
        [(ngModel)]="endDate" 
        required 
        placeholder="Ending Date">
    </div>
    <div class="form-control double">
        <input type="text" 
        name="price" 
        [(ngModel)]="price" 
        required
        min="0"
        placeholder="Price">
   
        <input type="number" 
        name="quantityLeft" 
        [(ngModel)]="quantityLeft" 
        required
        min="0"
        placeholder="Avaiable spots">
    </div>
    <div class="form-control description">
        <textarea
        name="description" 
        [(ngModel)]="description" 
        required
        minlength="10"
        maxlength="200"
        placeholder="Description">
    </textarea>
    </div>
    <div class="form-control">
        <input type="text" 
        name="image" 
        [(ngModel)]="image" 
        required
        id="image" 
        placeholder="Image Link">
    </div>
    <input 
    [disabled]="addForm.invalid"
    type="submit" 
    value="Save Trip"
    id="button">
</form>
