header{
    position: relative;
}
h1{
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 40px;
    left: 40%;
    color: lightblue;
}

img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.info-container{
    margin: auto;
    width: 60%;
}

.info-container > h2{
    margin-bottom: 10px;
    text-align: center;
}

.contact-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-info > div{
    margin: 0 20px;
}

.contact-info > div > h3{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}