<header>
    <h1> Welcome to [Insert Name Here]! </h1>
    <img src="../../../assets/panorama.jpg" alt="">
</header>

<div class="info-container">
    <h2>Contact Information</h2>
    <div class="contact-info">
        <div class="text">
            <h3>You can contact us at the following:</h3>
            <p>Phone: 555-555-5555</p>
            <p>Email: Lorem@ipsum.com</p>
            <p>Address: Lorem ipsum </p>
            <p>City: Lorem</p>
        </div>
        <div class="map">
            <h3>Or you can find us on the map:</h3>
            <google-map
            [center] = "center">
                <map-marker
                [position]="{lat:32.0853, lng: 34.7818}">
                </map-marker>
        </google-map>
        </div>    
    </div>
</div>