<nav>
    <div class="logo">
        <a routerLink="/home" routerLinkActive="active">
            <button>
                Home
            </button>
        </a>
    </div>
    <div class="about">
        <a routerLink="/triplist" 
        routerLinkActive="active">
            <button>
                Buy a Trip
            </button>
        </a>
    </div>
    <div class="addtrip">
        <a routerLink="/addtrip" routerLinkActive="active">
            <button>
                Add Trip
            </button>
        </a>
    </div>   
    <div class="cart"
    [ngStyle]="{'background-color': cartService.items.length >= 10 ? 'green' : 'red'}">
        <a routerLink="/cart" routerLinkActive="active"> 
            <button>
                Cart {{ cartService.totalItems }} {{ cartService.total | currency:'USD'}}
            </button>
        </a>
    </div>
    <div class="account-managment">
        <div class="login">
            <a routerLink="/signup" routerLinkActive="active">
                <button>
                    Sign Up
                </button>
            </a>
        </div>
    </div>
</nav>
