<div class="filter-container">

    <form action="submit" (ngSubmit)="onSubmit()">
        
        <div class="city-filter form-element">
            <label for="destination"> Destination </label>
            <input type="text"
            [(ngModel)]="destination"
            placeholder="City"  
            name="destination">
        </div>
        <hr>
        <div class="country-filter form-element">
            <label for="searchText"> Country </label>
            <input type="text"
            placeholder="Country"
            [(ngModel)]="country"
            name="country">
        </div>
        <hr>
        <div class="price-filter form-element">
            <label for="searchText"> Price </label>
            <div class="price">
                <input type="number"
                placeholder="MinPrice"
                [(ngModel)]="minPrice"
                name="minPrice">
                <input type="number"
                placeholder="MaxPrice"
                [(ngModel)]="maxPrice"
                name="maxPrice">
            </div>
        </div>
        <hr>
        <div class="date-filter form-element">
            <label for="searchText"> Date </label>
            <div class="date">
                <input type="date"
                placeholder="Starting Date"
                [(ngModel)]="startDate"
                name="startDate">
                <input type="date"
                placeholder="End Date"
                [(ngModel)]="endDate"
                name="endDate">
            </div>
        </div>
        <hr>
        <div class="spots-left-filter form-element">
            <label for="searchText"> Spots Left </label>
            <input type="number"
            placeholder="SpotsLeft"
            [(ngModel)]="spotsLeft"
            name="spotsLeft">
        </div>
        <hr>
        <input type="submit"
        value="Search" class="center">     
    </form>
</div>
