body{
    font-family: sans-serif;
}

main{
    width: 300px;
    height: 400px;
    margin: 0 auto;
    padding-left: 10px;
}

.inner_password_container{
    position: relative;
}

input{
    width: 80%;
    height: 30px;
}

.show_password{
    position: absolute;
    left: 73%;
    top: 60%;
    border: none;
    background-color: white;
    cursor: pointer;
}

.crossed i span{
    display: block;
    width: 120%;
    height: 2px;
    background-color: black;
    transform: translate(-1px, -7px) rotate(-45deg);
}

.requirement{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

#indicator{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: red;
}

.bar{
    display: block;
    width: 70%;
    height: 3px;
    margin: 3px auto;
    background-color: white;
}

#indicator .bar:nth-child(1){
    transform: translate(0, 4.5px) rotate(45deg);
}

#indicator .bar:nth-child(2){
    transform: translate(0, -4.5px) rotate(-45deg);
}

.met #indicator{
    background-color: green !important;
}

.met #indicator .bar:nth-child(1){
    width: 35% !important;
    transform: translate(-4px, 7px) rotate(50deg) !important;
}

.met #indicator .bar:nth-child(2){
    width: 60% !important;
    transform: translate(2px, -4px) rotate(-50deg) !important;
}

