body{
    font-family:'Courier New', Courier, monospace
}
.maingrid{
    display: grid;
    height: 700px;
    width: auto;
    background-color: white;
    border: 20px solid rgb(177, 172, 172);
    grid-template-columns: 20% 35% 35% 10%;
    grid-template-rows: 15% 10% 65% 10%;
    grid-template-areas:
        "head head head head"
        "nav nav nav nav"
        "left main main right"
        "foot foot foot foot"
}
.maingrid>*{
    border: 1px solid black;
    padding: 10px;
}
header{
    grid-area: head;
    background-color: gray;
}
nav{
    grid-area: nav;
}
.left{

    grid-area: left;
}
.right{
    grid-area: right;
}
main{
    grid-area: main;
}
footer{
    grid-area: foot;
    background-color: gray;
}
.logo{
    padding: 10px;
    width: 120px;
    height: 40px;
    background-color: white;
    position: relative;
    top: 15%; left: 5%;
}
@media (max-width:1000px) and (min-width:601px){
    .maingrid{
        grid-template-columns: auto;
        grid-template-rows:15% 10% 35% 30% 10%;
        grid-template-areas: 
        "head head head"
        "nav nav nav"
        "left main main"
        "right main main"
        "foot foot foot";
    }
}
@media (max-width:600px){
    .maingrid{
        grid-template-columns: auto;
        grid-template-rows:10% 10% 20% 20% 30% 10%;
        grid-template-areas: 
        "head"
        "nav"
        "left"
        "right"
        "main"
        "foot";
    }
    .logo{
        display: none;
    }
}


