<div class="trip-card">
    <div class="image">
        <img src="{{trip.imageUrl}}" alt="No image">
    </div>
    <div class="middle">
        <h3 style="font-weight: bold"> {{ trip.destination | uppercase }} </h3>
        <p> {{ trip.country | uppercase }} </p>
        <p> {{ trip.startDate }} - {{ trip.endDate }}</p>
        <div class="description">{{ trip.description }}</div>
    </div>
    <div class="sidebar">
        <p> from: {{ trip.price | currency:'USD'}}  </p>
        Spots: {{ (trip.quantityInCart || 0) }}
        <div class="buttons">
            <button 
            class="plus" 
            (click)="removeAmount()"
            [ngStyle]="{'background-color': trip.quantityLeft == (trip.quantityInCart || 0) ? 'gray' : 'green'}"
            >   <fa-icon
                [ngStyle]="{'color': 'white'}"
                [icon]="faPlus"
                ></fa-icon>
            </button>
            <button 
            class="minus" 
            style="background-color: red"
            [ngStyle]="{'background-color': (trip.quantityInCart || 0) == 0 ? 'gray' : 'red'}"
            (click)="addAmount()"
            >   <fa-icon
                [ngStyle]="{'color': 'white'}"
                [icon]="faMinus"
                ></fa-icon>
            </button>
        </div>
        <div 
        class="details card-button"
        (click)="onSelect()">
            Trip Details 
            <fa-icon
            [icon]="faArrowRight"
            [ngStyle]="{'margin-left': '5px'}"
            ></fa-icon>
        </div>
        <div class="buy card-button"
        (click)="onBuy()">
        Buy Now
        </div>
    </div>
</div>

