<a class="trip-card"
[ngClass]="{
    'almost-sold-out': trip.quantityLeft < 5,
    'sold-out': trip.quantityLeft == 0
}">
    <div class="image">
        <img src="{{trip.imageUrl}}" alt="No image">
    </div>
    <div class="middle">
        <h3 style="font-weight: bold"> {{ trip.destination | uppercase }} </h3>
        <p> {{ trip.country | uppercase }} </p>
        <p> {{ trip.startDate }} - {{ trip.endDate }}</p>
        <div class="description">{{ trip.description }}</div>
    </div>
    <div class="sidebar">
        <p> from: {{ trip.price | currency:'USD'}}  </p>
        Seats left: {{ trip.quantityLeft }}
        <div class="buttons">
            <button 
            class="plus" 
            (click)="removeAmount()"
            [ngStyle]="{'background-color': trip.quantityLeft == 0 ? 'gray' : 'green'}"
            ></button>
            <button 
            class="minus" 
            style="background-color: red"
            [ngStyle]="{'background-color': trip.quantityLeft == maxQuantity ? 'gray' : 'red'}"
            (click)="addAmount()"></button>
        </div>
        <app-rating [rating]="trip.rating" (ratingUpdated)="onRatingChanged($event)"></app-rating>
        <router-outlet></router-outlet>
    </div>
    <div [ngStyle]="{'position':'relative'}">
        <fa-icon 
        [icon]="faTimes"
        [ngStyle]="{
            'color': 'red',
            'cursor': 'pointer',
            'position': 'absolute',
            'top': '-95px',
            'right': '5px',
            'font-size': '20px'}"
        (click)="onDelete(trip)"
        ></fa-icon>
    </div>
</a>

